body {
  margin: 0;
  padding: 0;
}
body .container .notification {
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5px;
  gap: 10px;
}
body .container .notification a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  /* Preserve whitespace within the <a> element's text. */
  white-space: pre-wrap;
}
body .container .menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 41px;
  gap: 32px;
}
@media (max-width: 768px) {
  body .container .menu {
    padding: 24px 28px 24px 18px;
  }
}
body .container .menu .burger {
  position: relative;
  right: 0;
}
body .container .menu .burger button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 1080px) {
  body .container .menu .burger {
    display: none;
  }
}
body .container .menu .burger .menu-items {
  display: none;
  position: absolute;
  top: -53px;
  left: 0;
  width: 200px;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: left 0.2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  list-style: none;
}
body .container .menu .burger .menu-items a {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #0a0a0a;
}
body .container .menu .burger .menu-items .outlet-color {
  background: linear-gradient(135deg, #ff7324 14.84%, #ee3b28 35.81%, #da1500 51.16%, #ee3b28 67.63%, #fea14a 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
body .container .menu .burger.active .menu-items {
  display: block;
  transform: translateX(0%);
}
body .container .menu .logo .mobile-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  body .container .menu .logo .full-logo {
    display: none;
  }
}
@media (min-width: 768px) {
  body .container .menu .logo .mobile-logo {
    display: none;
  }
}
body .container .menu nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1080px) {
  body .container .menu nav {
    flex-direction: column;
    order: -1;
    display: none;
  }
}
body .container .menu nav a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #0a0a0a;
}
body .container .menu nav .outlet-color {
  background: linear-gradient(135deg, #ff7324 14.84%, #ee3b28 35.81%, #da1500 51.16%, #ee3b28 67.63%, #fea14a 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
body .container .menu .shopping {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 28px;
}
@media (max-width: 768px) {
  body .container .menu .shopping {
    gap: 22px;
  }
}
@media (max-width: 1080px) {
  body .container .menu .shopping .profile {
    display: none;
  }
}
body .container .menu .shopping .cart {
  display: flex;
  align-items: center;
  position: relative;
}
body .container .menu .shopping .cart .cart-count {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f03d3d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: translate(50%, -50%);
}
body .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Light-Grey */
  background: #f6f6f6;
}
body .form-container form {
  width: 440px;
  padding-top: 80px;
  padding-bottom: 92px;
}
body .form-container form h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.04em;
  /* Blacky */
  color: #0a0a0a;
  margin: 0;
  margin-bottom: 51px;
}
body .form-container form .input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  height: 80px; /* add a fixed height */
}
body .form-container form .input-box #error {
  position: absolute;
  top: 60%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  letter-spacing: 0.04em;
  padding-top: 5px;
}
body .form-container form .input-box #togglePassword {
  position: absolute;
  top: 42%;
  right: 0.5em;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
}
body .form-container form .input-box #error + #togglePassword {
  top: calc(50% + 18px);
}
body .form-container form .input-box input {
  border-radius: 6px;
  background-color: transparent;
  padding: 13.5px 8px 12px 12px;
  border: 0.5px solid;
  border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #888888, #888888);
}
body .form-container form .input-box span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.04em;
  padding-bottom: 4px;
  background: linear-gradient(0deg, #888888, #888888), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .form-container form .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
body .form-container form .submit button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  /* White */
  color: #ffffff;
  background-color: #0a0a0a;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  width: 440px;
}
body .form-container form .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .form-container form .links a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  /* Text Color/Dark Grey */
  color: #222222;
  cursor: pointer;
}
body .form-container form .links .first-link {
  text-decoration: none;
  padding-bottom: 12px;
}
body .form-container form .links span {
  display: inline-block;
  padding-left: 9.79px;
}
body .newsletter-container {
  background: url("Files/Newsletter-background.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
body .newsletter-container .newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 155px 56px 155px;
  gap: 55px;
}
body .newsletter-container .newsletter .newsletter-text p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* White */
  color: rgba(255, 255, 255, 0.2509803922);
  margin: 0;
}
body .newsletter-container .newsletter .newsletter-text h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  /* White */
  color: #ffffff;
  margin: 0;
  padding-top: 8px;
}
body .newsletter-container .newsletter .newsletter-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
body .newsletter-container .newsletter .newsletter-email form {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
body .newsletter-container .newsletter .newsletter-email form #email {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* White */
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  width: 323px;
  height: 34px;
  padding-left: 12px;
}
body .newsletter-container .newsletter .newsletter-email form button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  /* Blacky */
  color: #0a0a0a;
  padding: 8px 12px 8px 16px;
  /* White */
  background: #ffffff;
  border-radius: 4px;
}
body .newsletter-container .newsletter .newsletter-email form button span {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 13.79px;
  /* Blacky */
  background: #0a0a0a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .newsletter-container .newsletter .newsletter-email .label-checkbox {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* White */
  color: #ffffff;
  padding-top: 5px;
  align-items: center;
}
body .newsletter-container .newsletter .newsletter-email .label-checkbox a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  /* White */
  color: #ffffff;
}
body .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 435px;
  /* Blacky */
  background-color: #0a0a0a;
}
body .footer h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  /* White */
  color: #ffffff;
}
body footer {
  background-color: #0a0a0a;
  padding: 39px 0;
  font-family: Arial, sans-serif;
}
body footer .container {
  margin: 0px 0px 60px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body footer .container .box {
  width: 100%;
  max-width: 250px;
  margin-bottom: 40px;
}
body footer .container .box .social-icons {
  display: flex;
  justify-content: space-between;
  gap: 15.61px;
  max-width: 88px;
}
body footer .container .box .payment-methods {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
body footer .container h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  /* White */
  color: #ffffff;
  margin: 0;
  padding-bottom: 23px;
}
body footer .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 18px;
}
body footer .container ul li {
  margin-bottom: 4px;
}
body footer .container ul li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Gray */
  color: #e0e0e0;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */