body {
  margin: 0;
  padding: 0;
  .container {
    .notification {
      background-color: #0a0a0a;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7.5px;
      gap: 10px;

      a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        color: #ffffff;

        // padding: 7.5px;

        /* Preserve whitespace within the <a> element's text. */
        white-space: pre-wrap;
      }
    }
    .menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 41px;
      gap: 32px;

      @media (max-width: 768px) {
        padding: 24px 28px 24px 18px;
      }
      $body-bg-color: #1e3c72;

      #burger-menu {
        cursor: pointer;
        overflow: visible;
        position: relative;
        z-index: 99;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
        @media (min-width: 1080px) {
          display: none;
        }
      }

      #burger-menu-list {
        z-index: 9;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 10px;
        transition: all 0.3s ease-in-out;
        //just a comment

        &.overlay {
          visibility: visible;
          opacity: 1;
          padding-top: 20px;
          background: white;
        }

        ul {
          padding: 0;
        }

        li {
          list-style: none;
        }

        a {
          display: flex;
          justify-content: center;
          padding: 30px;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          text-decoration: none;
          color: #0a0a0a;
        }
        .outlet-color {
          background: linear-gradient(
            135deg,
            #ff7324 14.84%,
            #ee3b28 35.81%,
            #da1500 51.16%,
            #ee3b28 67.63%,
            #fea14a 86.72%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      // .burger {
      //   position: relative;
      //   right: 0;
      //   button {
      //     background-color: transparent;
      //     border: none;
      //     cursor: pointer;
      //   }
      //   @media (min-width: 1080px) {
      //     display: none;
      //   }
      //   .menu-items {
      //     display: none;
      //     position: absolute;
      //     top: -53px;
      //     left: 0;
      //     width: 200px;
      //     padding: 0px;
      //     background-color: #fff;
      //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      //     transition: left 0.2s;
      //     z-index: 2;
      //     -webkit-transform: translateZ(0);
      //     -webkit-backface-visibility: hidden;
      //     list-style: none;
      //     a {
      //       display: flex;
      //       justify-content: flex-start;
      //       padding: 30px;
      //       font-family: "DM Sans";
      //       font-style: normal;
      //       font-weight: 500;
      //       font-size: 16px;
      //       line-height: 21px;
      //       /* identical to box height */
      //       text-align: center;
      //       letter-spacing: 0.2em;
      //       text-transform: uppercase;
      //       text-decoration: none;
      //       color: #0a0a0a;
      //     }
      //     .outlet-color {
      //       background: linear-gradient(
      //         135deg,
      //         #ff7324 14.84%,
      //         #ee3b28 35.81%,
      //         #da1500 51.16%,
      //         #ee3b28 67.63%,
      //         #fea14a 86.72%
      //       );
      //       -webkit-background-clip: text;
      //       -webkit-text-fill-color: transparent;
      //       background-clip: text;
      //     }
      //   }
      //   &.active {
      //     .menu-items {
      //       display: block;
      //       transform: translateX(0%);
      //     }
      //   }
      // }

      .logo {
        .mobile-logo {
          // Centers a logo inside of menu
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        //switching full and mobile logos

        @media (max-width: 768px) {
          .full-logo {
            display: none;
          }
        }
        @media (min-width: 768px) {
          .mobile-logo {
            display: none;
          }
        }
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        @media (max-width: 1080px) {
          flex-direction: column;
          order: -1;
          display: none;
        }

        a {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          text-decoration: none;

          color: #0a0a0a;
        }
        .outlet-color {
          background: linear-gradient(
            135deg,
            #ff7324 14.84%,
            #ee3b28 35.81%,
            #da1500 51.16%,
            #ee3b28 67.63%,
            #fea14a 86.72%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .shopping {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 28px;
        @media (max-width: 768px) {
          gap: 22px;
        }
        .profile {
          @media (max-width: 1080px) {
            display: none;
          }
        }
        .cart {
          display: flex;
          align-items: center;
          position: relative;
          .cart-count {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            color: #ffffff;
            background: #f03d3d;

            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            transform: translate(50%, -50%);
          }
        }
      }
    }

    .sub-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 14px 40px;
      gap: 80px;

      /* Light-Grey */
      background: #f6f6f6;

      overflow-x: auto;
      white-space: nowrap;

      @media (max-width: 1180px) {
        gap: 60px;
      }

      @media (max-width: 1080px) {
        justify-content: flex-start;
      }

      @media (max-width: 768px) {
        padding: 7px 20px;
      }

      .frame {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 17px;
      }

      a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        text-align: center;
        text-decoration: none;

        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  .hero {
    background: url("Files/Hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 520px;

    @media (max-width: 1080px) {
      background: url("Files/image 13Hero-mobile.svg"),
        url("Files/Hero-mobile-black-part.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .box {
      padding-left: 155px;
      padding-top: 118px;
      @media (max-width: 820px) {
        top: 100%;
        padding-left: 16px;
      }

      p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        /* identical to box height */
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        margin: 0;

        color: #ffffff;
        background: #009aff;
        width: 81px;
        height: 28px;
      }

      h1 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        /* identical to box height */
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;
        margin: 0;

        color: #ffffff;
      }

      a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        display: flex;
        align-items: center;
        text-decoration: none;

        color: #009aff;
      }

      h3 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 24px;

        color: #ffffff;
        @media (max-width: 568px) {
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }

      button {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 0.1em;
        padding: 16px;
        text-transform: uppercase;

        /* White */
        background: #ffffff;
        border-radius: 4px;
        cursor: pointer;

        @media (max-width: 568px) {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */
          letter-spacing: 0.04em;
          text-transform: none;
        }

        span {
          display: inline-block;
          margin-left: 120.17px;
          font-size: 1.2rem;
          transition: margin-left 0.2s ease-in-out;
        }
        @media screen and (max-width: 768px) {
          span {
            margin-left: 13.79px;
          }
        }
      }

      .lines {
        padding-top: 67px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        width: 223px;
        height: 20px;
        @media (max-width: 568px) {
          padding-top: 24px;
        }
        .line1 {
          background: #f6f6f620;

          width: 69px;
          height: 4px;
          .line1-blue {
            background: #009aff;

            width: 47px;
            height: 4px;
          }
        }

        .line2 {
          background: #f6f6f620;

          width: 69px;
          height: 4px;
        }

        .line3 {
          background: #f6f6f620;

          width: 69px;
          height: 4px;
        }
      }
    }
  }

  .cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    padding: 56px 38px 0px 38px;
    background: #f5f5f5;

    overflow-x: auto;

    @media (max-width: 1080px) {
      justify-content: flex-start;
    }
    @media (max-width: 568px) {
      padding: 32px 17px 0px 17px;
    }

    .card1 {
      position: relative;
      background: url("Card/card1.svg");
      background-repeat: no-repeat;
      background-color: #ffffff;
      border-radius: 6px;
      width: 440px;
      height: 564px;
      flex-shrink: 0;

      @media (max-width: 568px) {
        background-size: contain;
        width: 320px;
        height: 478px;
      }

      .card1-front {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        img {
          @media (max-width: 568px) {
            max-width: 199.27px;
          }
        }
      }

      h3 {
        left: calc(50% - 195px / 2 + 0.5px);
        top: calc(50% - 23px / 2 - 145.5px);

        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        margin-top: 24px;
        margin-bottom: 0;

        /* White */
        color: #ffffff;
      }

      h6 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        margin: 0;
        padding-left: 30px;
        padding-top: 341px;
        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 568px) {
          padding-top: 254.43px;
          text-transform: uppercase;
        }
      }

      h2 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;

        /* Blacky */
        color: #0a0a0a;
        margin: 0;
        padding-top: 4px;
        padding-left: 30px;
      }

      p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        padding-left: 30px;
        margin: 0;
        padding-top: 8px;
        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      span {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        text-align: right;
        justify-content: end;
        letter-spacing: 0.04em;
        // width: 440px;
        padding: 24px 30px 26px;

        /* Blacky */
        color: #0a0a0a;
      }
    }

    .card2 {
      position: relative;
      background: url("Card/card2.svg");
      background-repeat: no-repeat;
      background-color: #ffffff;
      border-radius: 6px;
      width: 440px;
      height: 564px;
      flex-shrink: 0;

      @media (max-width: 568px) {
        background-size: contain;
        width: 320px;
        height: 478px;
      }

      .card2-front {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        img {
          @media (max-width: 568px) {
            max-width: 199.27px;
          }
        }
      }

      h3 {
        left: calc(50% - 195px / 2 + 0.5px);
        top: calc(50% - 23px / 2 - 145.5px);

        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        margin-top: 24px;
        margin-bottom: 0;

        /* Blacky */
        color: #0a0a0a;
      }

      h6 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        margin: 0;
        padding-left: 30px;
        padding-top: 341px;
        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 568px) {
          padding-top: 254.43px;
          text-transform: uppercase;
        }
      }

      h2 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;

        /* Blacky */
        color: #0a0a0a;
        margin: 0;
        padding-top: 4px;
        padding-left: 30px;
      }

      p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        padding-left: 30px;
        margin: 0;
        padding-top: 8px;
        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      span {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        text-align: right;
        justify-content: end;
        letter-spacing: 0.04em;
        // width: 440px;
        padding: 24px 30px 26px;

        /* Blacky */
        color: #0a0a0a;
      }
    }

    .card3 {
      position: relative;
      background: url("Card/card3.svg");
      background-repeat: no-repeat;
      background-color: #ffffff;
      border-radius: 6px;
      width: 440px;
      height: 564px;
      flex-shrink: 0;

      @media (max-width: 568px) {
        background-size: contain;
        width: 320px;
        height: 478px;
      }

      .card3-front {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        img {
          @media (max-width: 568px) {
            max-width: 199.27px;
          }
        }
      }

      h3 {
        left: calc(50% - 195px / 2 + 0.5px);
        top: calc(50% - 23px / 2 - 145.5px);

        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        margin-top: 24px;
        margin-bottom: 0;

        /* White */
        color: #ffffff;
      }

      h6 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        margin: 0;
        padding-left: 30px;
        padding-top: 341px;
        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 568px) {
          padding-top: 254.43px;
          text-transform: uppercase;
        }
      }

      h2 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;

        /* Blacky */
        color: #0a0a0a;
        margin: 0;
        padding-top: 4px;
        padding-left: 30px;
      }

      p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        padding-left: 30px;
        margin: 0;
        padding-top: 8px;
        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      span {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        text-align: right;
        justify-content: end;
        letter-spacing: 0.04em;
        // width: 440px;
        padding: 24px 30px 26px;

        /* Blacky */
        color: #0a0a0a;
      }
    }
  }

  .double-product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 74px 39px 0px 39px;
    background-color: #f5f5f5;
    .double-product-hero {
      position: relative;
      background-image: url("double-product-Vectors/Rectangle 4.svg");
      background-repeat: no-repeat;
      height: 500px;
      width: 1362px;
      border-radius: 6px;
      overflow: hidden;

      .glasses {
        .big-glass {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(8.5%, -64.8%);
          max-width: 100%;
          max-height: 100%;
        }

        .small-glass {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(30.5%, -40%);
          max-width: 100%;
          max-height: 100%;
        }
      }

      h3 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        letter-spacing: 0.1em;

        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin: 0;
        padding-top: 115px;
        padding-left: 116px;
      }

      h1 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        /* identical to box height */
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;

        /* Blacky */
        color: #0a0a0a;

        margin: 0;
        padding-left: 116px;
      }

      .double-product-paragraph {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.04em;

        background: linear-gradient(0deg, #888888, #888888),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin: 0;
        padding-left: 116px;
        padding-top: 4px;
        max-width: 508px;
      }

      .buttons-box {
        display: flex;
        flex-direction: row;
        padding-left: 116px;
        gap: 50px;

        button {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */
          display: flex;
          align-items: start;
          justify-content: space-between;
          letter-spacing: 0.1em;
          padding: 16px;

          /* White */
          background: #ffffff;
          border-radius: 4px;
          border: none;

          span {
            display: inline-block;
            margin-left: 97.17px;
            font-size: 1.2rem;
            transition: margin-left 0.2s ease-in-out;

            /* Blacky */
            background: #0a0a0a;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          @media screen and (max-width: 768px) {
            span {
              margin-left: 13.79px;
            }
          }
        }

        p {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */
          letter-spacing: 0.04em;

          background: linear-gradient(0deg, #888888, #888888),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          margin: 0;
          padding-top: 40px;
          padding-bottom: 7px;
        }
      }
    }
  }
  .stories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 81.5px 40px 41.5px 40px;
    background: #f5f5f5;

    h1 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 100%;
      /* identical to box height, or 40px */
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 0;

      color: #000000;

      @media (max-width: 568px) {
        font-size: 24px;
      }
    }
    a {
      display: flex;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 27px;

      /* Blacky */
      color: #0a0a0a;

      text-decoration: none;
      span {
        display: inline-block;
        margin-left: 9.45px;
        font-size: 1.2rem;
      }

      @media (max-width: 568px) {
        display: none;
      }
    }
  }

  .stories {
    display: flex;
    padding-left: 40px;
    background: #f5f5f5;
    padding-bottom: 20px;
    display: flex;
    gap: 24px;
    z-index: 3;
    overflow: hidden;
    overflow-x: auto;

    .stories-item1 {
      background-image: url("Stories/Image.svg");
      background-repeat: no-repeat;
      flex-shrink: 0;
      width: 368px;
      height: 620px;
      border: none;
      border-radius: 6px;
      z-index: 3;

      @media (max-width: 568px) {
        width: 320px;
        height: 480px;
      }
    }
    .stories-item2 {
      background-image: url("Stories/Stories2.svg");
      background-repeat: no-repeat;
      flex-shrink: 0;
      width: 368px;
      height: 620px;
      border: none;
      border-radius: 6px;
      z-index: 3;

      @media (max-width: 568px) {
        width: 320px;
        height: 480px;
      }
    }
    .stories-item3 {
      background-image: url("Stories/Stories3.svg");
      background-repeat: no-repeat;
      flex-shrink: 0;
      width: 368px;
      height: 620px;
      border: none;
      border-radius: 6px;
      z-index: 3;

      @media (max-width: 568px) {
        width: 320px;
        height: 480px;
      }
    }
    .stories-item4 {
      background-image: url("Stories/Stories4.svg");
      background-repeat: no-repeat;
      flex-shrink: 0;
      width: 368px;
      height: 620px;
      border: none;
      border-radius: 6px;
      z-index: 3;

      @media (max-width: 568px) {
        width: 320px;
        height: 480px;
      }
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 108%;
      /* or 24px */
      align-items: flex-end;

      /* White */
      color: #ffffff;

      margin: 0;
      padding: 532px 24px 40px 24px;

      @media (max-width: 568px) {
        padding: 343px 24px 40px 24px;
      }
    }
  }
  .solution-for-everyone {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("Files/A solution for everyone background.svg");
    background-repeat: no-repeat;
    height: 601px;
    position: relative;
    .background-gradient {
      background: linear-gradient(
        180deg,
        #f7f7f7 0%,
        #abcdd6 80.21%,
        rgba(171, 205, 214, 0.03) 100%
      );
      position: absolute;
      width: 100%;
      height: 536px;
      top: -63.5%;
      z-index: 2;
    }

    h1 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 100%;
      /* identical to box height, or 60px */
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      /* White */
      color: #ffffff;
    }
  }

  .category {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    padding: 40px 62px 56px 62px;
    gap: 25.33px;
    overflow-x: auto;

    .category-card1 {
      background-image: url("category-card/Image.svg");
      background-repeat: no-repeat;
      border-radius: 6px;
      width: 310px;
      height: 380px;
      flex-shrink: 0;
    }
    .category-card2 {
      background-image: url("category-card/Image-2.svg");
      background-repeat: no-repeat;
      border-radius: 6px;
      width: 310px;
      height: 380px;

      flex-shrink: 0;
    }
    .category-card3 {
      background-image: url("category-card/Image-3.svg");
      background-repeat: no-repeat;
      border-radius: 6px;
      width: 310px;
      height: 380px;
      flex-shrink: 0;
    }
    .category-card4 {
      background-image: url("category-card/Image-4.svg");
      background-repeat: no-repeat;
      border-radius: 6px;
      width: 310px;
      height: 380px;
      flex-shrink: 0;
    }
    h6 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      /* identical to box height */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      /* White */
      color: #ffffff;

      margin: 0;
      padding-top: 227px;
      padding-bottom: 24px;
    }
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.04em;

      /* White */
      color: #ffffff;
      margin: 0;
    }
  }
  .featured-container {
    background-color: white;
    margin: 80px;
    h1 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      /* identical to box height, or 24px */
      text-align: center;
      letter-spacing: 0.5em;
      text-transform: uppercase;

      color: #000000;

      margin: 0;
      //   padding-top: 83px;
      padding-bottom: 21px;
    }

    .featured-items {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;

      img[alt="FreeRide-logo"] {
        width: 178.67px;
        height: 140px;
      }
      img[alt="Skiing-logo"] {
        width: 178.67px;
        height: 140px;
      }
    }
  }
  .newsletter-container {
    background: url("Files/Newsletter-background.png");
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .newsletter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 48px 155px 56px 155px;
      gap: 55px;

      @media (max-width: 1080px) {
        flex-wrap: wrap;
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        margin: 24px 16px 56px 16px;
        gap: 16px;
      }

      .newsletter-text {
        p {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;

          /* White */
          color: #ffffff40;

          margin: 0;
        }
        h1 {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 36px;
          /* or 112% */
          min-width: 400px;

          /* White */
          color: #ffffff;

          margin: 0;
          padding-top: 8px;
        }
      }
      .newsletter-email {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        form {
          display: flex;
          justify-content: space-between;
          gap: 8px;
          #email {
            padding: 12px 8px 12px 12px;
            border: 0.5px solid #ffffff;
            border-radius: 6px;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 100px;
          }
          button {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;

            /* Blacky */
            color: #0a0a0a;

            padding: 8px 12px 8px 16px;
            /* White */
            background: #ffffff;
            border-radius: 4px;

            span {
              display: inline-block;
              font-size: 1.2rem;
              margin-left: 13.79px;

              /* Blacky */
              background: #0a0a0a;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
        .label-checkbox {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;

          /* White */
          color: #ffffff;
          padding-top: 5px;
          align-items: center;
          #checkbox {
            // background: transparent;
            // outline: 2px solid black; 
            // border: 1px solid black;
          }

          a {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height */

            /* White */
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 435px;

    /* Blacky */
    background-color: #0a0a0a;
    h1 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      /* or 112% */

      /* White */
      color: #ffffff;
    }
  }

  footer {
    background-color: #0a0a0a;
    padding: 39px 0;
    font-family: Arial, sans-serif;

    .container {
      margin: 0px 0px 60px 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 568px) {
        // flex-direction: column;
      }

      .box {
        width: 100%;
        max-width: 250px;
        margin-bottom: 40px;
        .social-icons {
          display: flex;
          justify-content: space-between;
          gap: 15.61px;
          max-width: 88px;
        }

        .payment-methods {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
        }
      }

      #OurStory {
        @media (max-width: 568px) {
          // display: none;
        }
      }
      #Support {
        @media (max-width: 568px) {
          // display: none;
        }
      }

      h3 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        /* identical to box height */

        /* White */
        color: #ffffff;

        margin: 0;
        padding-bottom: 23px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 18px;

        li {
          margin-bottom: 4px;

          a {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            text-align: center;

            /* Gray */
            color: #e0e0e0;
            text-decoration: none;

            // &:hover {
            //   color: #333;
            // }
          }
        }
      }
    }
  }
}
